    body {
        margin: 0;
        text-align: center;
        font-family: 'Merriweather', serif;
    }
    
    h1 {
        margin-top: 0;
        font-family: 'Sacramento', cursive;
        font-size: 5.625rem;
        color: #66BFBF;
        margin: 50px auto 0 auto;
        line-height: 2;
    }
    
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        font-size: 2.5rem;
        color: #66BFBF;
    }
    
    h3 {
        font-family: 'Montserrat', sans-serif;
        color: #11999E
    }
    
    .footer-link {
        color: #11999E;
        margin: 20px;
    }
    
    .first-container {
        background-color: #CDF0EA;
        position: relative;
        padding-top: 100px;
        margin-bottom: 20px;
    }
    
    .middle-container {
        margin: 100px 0;
    }
    
    .top-cloud {
        position: absolute;
        top: 50px;
        right: 500px;
    }
    
    .bottom-cloud {
        position: absolute;
        bottom: 400px;
        left: 450px;
    }
    
    .intro {
        width: 40%;
        line-height: 2;
        margin: auto;
    }
    
    .myskill {
        margin-bottom: 0;
    }
    
    .skill-row {
        width: 50%;
        margin: 100px auto 100px auto;
        text-align: left;
        line-height: 2;
    }
    
    .skill-img {
        width: 100%;
    }
    
    .experience {
        margin-bottom: 0;
    }
    
    .experience-p {
        margin-top: 0
    }
    
    .change-img {
        width: 25%;
        float: left;
        margin-right: 30px;
    }
    
    .btn {
        background: #11cdd4;
        background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
        background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
        background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
        background-image: -o-linear-gradient(top, #11cdd4, #11999e);
        background-image: linear-gradient(to bottom, #11cdd4, #11999e);
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
    }
    
    .btn:hover {
        background: #30e3cb;
        background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
        text-decoration: none;
    }
    
    .contact-me {
        margin: 50px;
        padding-left: 50px;
    }
    
    .bottom-container {
        background-color: #66BFBF;
        color: #EAF6F6
    }
    
    .contact-me-p {
        margin-bottom: 50px;
    }